body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: #aea8a8;
  color: #f7f8fa;

  margin: 0; /* Eliminar márgenes por defecto */
  height: 100vh; /* Altura completa de la ventana del navegador */
  background-image: url('https://img.freepik.com/vector-premium/patron-blanco-negro-hojaspatron-botanico-costuras-estilo-escandinavo-hojas-blancas-sobre-fondo-negro-diseno-minimalista-moderno-ilustracion-vectorial_225753-2804.jpg'); /* Reemplaza con la ruta de tu imagen */
  background-size: cover; /* Asegura que la imagen cubra todo el body */
  background-position: center; /* Centra la imagen */
  /*background-repeat: no-repeat;  Evita que la imagen se repita */
  color: white; /* Cambia el color del texto según sea necesario */
}

.card {
  background-color: #090e1ccf;      /* Color de fondo del cuadro */
  border-radius: 10px;          /* Esquinas redondeadas */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2); /* Sombreado */
  padding: 20px;                /* Espaciado interno */
  margin: 20px;                 /* Espaciado externo entre cuadros */
  width: 100%;                 /* Ancho del cuadro */
  max-width: 800px;
  text-align: center;           /* Centra el texto dentro del cuadro */
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background: #090f32;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

section {
  padding: 20px;
  margin: 20px;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
  height: auto;
  text-align: center;
}

h2 {
  color: #e2e4ee;
}

footer {
  text-align: center;
  padding: 10px 0;
  background: #090f32;
  color: #fff;
}

@media (max-width: 768px) {
  nav ul li {
    display: block;
    margin: 10px 0;
  }

  .card{
    margin: 10px;
  }

  section{
    height: auto;
  }
}

.imagen {
  width: 100%; /* Modifica este valor para el ancho deseado */
  max-width: 330px;
  height: auto; /* Modifica este valor para la altura deseada */
  object-fit: cover; /* Asegura que la imagen se recorte adecuadamente */
  margin: 10px; /* Espacio de separación entre las imágenes */
}